%input#country(type="text" readonly)
%input#country_code(type="hidden")
%p
  Country name:
  %span#country-name
%p
  Country code:
  %span#country-code
%p
  Country currency:
  %span#country-currency
%p
  Country currency code"
  %span#country-currency-code
